<a href="https://colab.research.google.com/github/ftempesta/Data-Science-Online/blob/master/Laboratorio_3_Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Indicaciones

- Trabaja en grupos de 2 o 3 personas.
- Haz una copia del notebook en `File -> Save a copy in Drive`.
- Para hacer la entrega, descarga el notebook en `File -> Download -> Download .ipynb`
- Indica los nombres de los integrantes en la entrega en U-Cursos o bien en este notebook

In [2]:
import pandas as pd
from sklearn import cluster
from scipy.cluster import hierarchy

import matplotlib.pyplot as plt
%matplotlib inline

# 1. K-means

Cargamos los datos.

Este dataset tiene quince atributos (dimensiones) y alrededor de diez mil filas.

In [3]:
X_1 = pd.read_table(
    'https://users.dcc.uchile.cl/~mquezada/diplomado-2018/dim15.txt', 
    delim_whitespace=True, 
    names=[f"col_{i}" for i in range(15)], 
    header=0)

X_1.head()

   col_0   col_1   col_2   col_3  ...  col_11  col_12  col_13  col_14
0  29020  860619  658827  854383  ...  362103  620337  310595  461270
1  32683  862625  671429  818015  ...  356856  594499  319498  478757
2  34519  859181  678552  824984  ...  367400  615245  281741  445673
3  35250  847859  652480  828636  ...  361038  623793  299209  443797
4  35920  860543  651526  796781  ...  386218  605180  312034  478862

[5 rows x 15 columns]

In [ ]:
X_1.describe()

**Pregunta 1** 

Ejecute el código abajo.


El primer bloque ejecuta `k-means` para `k` clusters, con `k` variando de 1 a 19 clusters. Cada ejecución de `k-means` elige los centroides iniciales al azar. Puede variar el parámetro `n_init` que indica cuántas veces se ejecutará k-means sobre los datos y entregará el clustering con el menor SSE. También puede variar `max_iter`, que indica cuántas veces iterará una ejecución de k-means.

Usando el método del codo, ¿cuántos clusters considera que hay en los datos?

¿Qué puede decir del efecto de los parámetros `n_init` y `max_iter`? (tuvo que usar valores muy altos, muy bajos, etc...)

In [ ]:
numClusters = range(1, 20) # [1, 2, 3, ..., 19]
SSE = []
for k in numClusters:
    k_means = cluster.KMeans(n_clusters=k, n_init=1, max_iter=3, init='random')
    k_means.fit(X_1)
    SSE.append(k_means.inertia_)

In [ ]:
plt.plot(numClusters, SSE)
plt.xticks(numClusters)
plt.xlabel('Number of Clusters')
plt.ylabel('SSE')

## puedes descomentar la siguiente línea para mostrar el gráfico en escala 
## logarítmica en el eje y.
## Son los mismos datos, sólo que las pequeñas diferencias se muestran más grandes.

#plt.yscale('log')
plt.show()

---

Cargamos estos nuevos datos.

In [ ]:
X_2 = pd.read_table(
    'http://cs.joensuu.fi/sipu/datasets/dim032.txt', 
    delim_whitespace=True, 
    names=[f"col_{i}" for i in range(32)], 
    header=0)

X_2.head()

   col_0  col_1  col_2  col_3  col_4  ...  col_27  col_28  col_29  col_30  col_31
0     86    149    101     56     93  ...      60     130      71     151     181
1     83    149     99     51     96  ...      55     125      63     155     178
2     86    142    101     64    105  ...      56     123      67     144     181
3     89    145    108     54     91  ...      50     135      58     147     165
4     84    152    100     52     96  ...      54     124      64     153     176

[5 rows x 32 columns]

**Pregunta 2**

Sabemos en este caso que existen 16 grupos o clusters.

Modifique los valores de `n_init` y `max_iter` hasta poder identificar 16 clusters con el método del codo.

Comparando con la pregunta anterior, ¿cuáles son las diferencias que podrían explicar usar valores distintos en `n_init`?

In [ ]:
numClusters = range(1, 20) # [1, 2, 3, ..., 19]
SSE = []
for k in numClusters:
    k_means = cluster.KMeans(n_clusters=k, n_init=10, max_iter=5, init='random', random_state=1)
    k_means.fit(X_2)
    SSE.append(k_means.inertia_)

In [ ]:
plt.plot(numClusters, SSE)
plt.xticks(numClusters)
plt.xlabel('Number of Clusters')
plt.ylabel('SSE')
#plt.yscale('log')
plt.show()

---

**K-means++**

La implementación de k-means de sklearn usa por defecto una estrategia de inicialización de centroides llamada `k-means++`, que elige los centros tal que estén generalmente lejos unos de otros, lo cual afirma que es probablemente mejor que elegirlos puramente al azar:

In [ ]:
numClusters = range(1, 20) # [1, 2, 3, ..., 19]
SSE = []
for k in numClusters:
    k_means = cluster.KMeans(n_clusters=k, n_init=1, max_iter=3, init='k-means++')
    k_means.fit(X_1)
    SSE.append(k_means.inertia_)

plt.plot(numClusters, SSE)
plt.xticks(numClusters)
plt.xlabel('Number of Clusters')
plt.ylabel('SSE')

## puedes descomentar la siguiente línea para mostrar el gráfico en escala 
## logarítmica en el eje y.
## Son los mismos datos, sólo que las pequeñas diferencias se muestran más grandes.

#plt.yscale('log')
plt.show()

In [ ]:
numClusters = range(1, 20) # [1, 2, 3, ..., 19]
SSE = []
for k in numClusters:
    k_means = cluster.KMeans(n_clusters=k, n_init=10, max_iter=5, init='k-means++', random_state=1)
    k_means.fit(X_2)
    SSE.append(k_means.inertia_)

plt.plot(numClusters, SSE)
plt.xticks(numClusters)
plt.xlabel('Number of Clusters')
plt.ylabel('SSE')
#plt.yscale('log')
plt.show()

# Clustering jerárquico

Cargamos los datos y los graficamos:

In [ ]:
X_3 = pd.read_table(
    "http://cs.joensuu.fi/sipu/datasets/spiral.txt", 
    delim_whitespace=True, 
    names=['x', 'y', 'c'],
    header=0)

X_3.head()

       x     y  c
0  31.15  7.30  3
1  30.45  6.65  3
2  29.70  6.00  3
3  28.90  5.55  3
4  28.05  5.00  3

In [ ]:
X_3.plot(x='x', y='y', kind='scatter')

**Pregunta 3**

¿Cuántos clusters ve en el gráfico? ¿Cómo categorizaría estos clusters?

¿Cree que k-means pueda capturar los distintos grupos que observa? ¿Cómo?

Pruebe con distintos valores de `K` abajo para experimentar con k-means.

In [ ]:
K = 1

data = X_3.drop(columns=['c'])
km = cluster.KMeans(n_clusters=K)
km.fit(data)

data['Cluster ID'] = km.labels_
data.plot(x='x', y='y', kind='scatter', c='Cluster ID', colormap='jet')

---

**Pregunta 4**

Usemos clustering jerárquico aglomerativo sobre estos datos.

El código abajo extrae clusters a partir del dendograma en base a la distancia o similitud. Por ejemplo, al usar `criterion=distance`, podemos decirle a `fcluster` que "corte" el dendograma en el valor `t` y nos entregue los clusters resultantes. Estos clusters (etiquetas) se almacenarán en la variable `labels`.

¿Cuál método de clustering podría identificar los clusters que esperamos? ¿Por qué ese método funciona y los otros no? Modifique la variable `METHOD` abajo.

In [ ]:
METHOD = 'complete'

Z = hierarchy.linkage(X_3.values, METHOD)
dn = hierarchy.dendrogram(Z, orientation='right')

In [ ]:
labels = hierarchy.fcluster(Z, t=25, criterion='distance')
labels

In [ ]:
data['Cluster ID'] = labels

colors = ['red', 'blue', 'green', 'yellow', 'cyan', 'black', 'brown', 'gray']
data.plot(x='x', y='y', kind='scatter', c=data['Cluster ID'].apply(lambda x: colors[x]))

# DBScan

El siguiente código nos ayudará a determinar un valor de `eps` para el dataset con clusters basados en densidad que vimos en el tutorial.

In [ ]:
data = pd.read_csv('http://www.cse.msu.edu/~ptan/dmbook/tutorials/tutorial8/chameleon.data', 
                   delimiter=' ', 
                   names=['x', 'y'])

data.plot(x='x', y='y', kind='scatter')

Para esto, vamos a fijar un valor de `minPts`, en este caso 5. Luego vamos a graficar la distancia de cada punto del dataset a su quinto vecino más cercano.

In [ ]:
from sklearn.neighbors import NearestNeighbors

N = 5
nbrs = NearestNeighbors(n_neighbors=N).fit(data)
distances, indices = nbrs.kneighbors(data)
distanceDec = sorted(distances[:, N-1])
plt.plot(indices[:,0], distanceDec)
plt.yticks(range(0, 50, 5))
plt.xlabel('Puntos del dataset ordenados')
plt.ylabel('Distancia al 5to vecino mas cercano')
plt.grid()

plt.show()

**Pregunta 5**

¿Cuál valor de `eps` que observa en el gráfico que deberíamos usar como parámetro de DBScan? ¿Cómo llegó a ese valor a partir del gráfico?

¿Cómo cambia el resultado del clustering al usar distintos valores de `eps`? Modifique el valor de `eps` abajo y describa sus observaciones.

In [ ]:
from sklearn.cluster import DBSCAN

eps = 1
minPts = N

db = DBSCAN(eps=eps, min_samples=minPts).fit(data)
data['Cluster ID'] = db.labels_
data.plot(x='x', y='y', c='Cluster ID', colormap='jet', kind='scatter')

**Pregunta 6 (bonus)**

¿Cómo cambia el resultado si ahora cambia el `N` (el valor de `minPts`)?

Juegue con distintos valores de `N`, determine el `eps` correspondiente, y describa sus observaciones.

---

fin